<!Doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <style>
        @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

        #reviewcontent {
            width: 100%;
            height: 60px;
        }

        #reviewmain {
            display: flex;
            justify-content: space-around;
            align-items: center;
        }

        a {
            color: rgb(0 0 0);
            text-decoration: none;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

</head>

<body>
    <div class="background-banner">
        <nav class="navbar border-bottom border-bottom-dark d-flex justify-content-space-between">
            <div class="ms-3">
                <img src="https://s3.ap-northeast-2.amazonaws.com/materials.spartacodingclub.kr/webjong/images/sparta-logo.svg"
                    alt="">
            </div>
            <nav class="navbar navbar-expand-lg">
                <div class="container-fluid">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link  " aria-current="page" href="#">Home</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </nav>

        <div class=" text-center">
            <!-- 여기도 reviews가 아니라 sight가 와야함 -->
            <h1 class="py-3 display-5 fw-bold text-body-emphasis">🗺관광여지도🔎</h1><br>
            <form id="searchForm" action="/sightlist_keyword/" method="GET">
                <div style="display: flex;justify-content: center  ">
                    <input type="text" class="form-control" style="width: 400px; margin-right: 30px;" id="keyword"
                        placeholder="검색어를 입력하세요" required />
                    <button class="btn btn-dark" type="submit" id="search">검색</button>
                </div>
            </form>

            <div class="col-lg-18 mx-auto mt-5" id="reviewmain">
                <div style="width: 300px; height: 300px; background-color: gray;">
                    <!-- 지도 -->
                    <div id="map"></div>
                </div>
                <div
                    style="display: flex; flex-direction: column; width: 900px;   max-height: 400px; overflow-y: auto;">

                    <body>
                        <table id="sightTable">
                            <thead style="   position: sticky;  top: 0;  z-index: 1; ">
                                <th style="width: 15%;">관광지명</th>
                                <th style="width: 35%;">관광지 주소</th>
                                <th style="width: 40%;">관광지 소개</th>
                                <th style="width: 10%;">리뷰</th>
                            </thead>
                            <tbody>
                                {% for item in data %}
                                <tr>
                                    <td><a href="#" id="name">{{ item .name }}</a></td>
                                    <td id="address">{{ item .address }}</td>
                                    <td id="information">{{ item .information }}</td>
                                    <td> <button type="button" class="btn btn-light" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                            리뷰
                                        </button></td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>


                        <div class="pagination" id="pagination"></div>

                    </body>
                </div>


            </div>
        </div>

    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">관광지명</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form action="" method="GET">
                        <div class="mb-3">
                            <div class="form-group">
                                <label for="exampleFormControlTextarea1">리뷰를 남겨보세요 </label>
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                              </div>
                        </div>
                        <div class="mb-3">
                            <div class="row row-cols-1 row-cols-md-4 g-4 mx-auto w-75 pb-5">
                                {% for review in data %} 
                                <!-- review 고쳐야함 -->
                                <form action="{{ url_for('render_review_filter', name=review.name) }}" method="POST">
                                    <div class="col">
                                        <div class="card h-100">
                                            <div class="card-body">
                                               
                                                <h5 class="card-title">{{ review.rev_content }}</h5>
                                                <p class="card-text">Review by {{ review.username }}</p>
                                                <button type="submit" class="btn btn-danger" style="width: 100%;" >삭제</button>
                                                
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                {% endfor %}            
                    
                            </div>>
                        </div>
                        <button type="submit" class="btn btn-dark">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


    </div>

    <div class="container">
        <footer>
            <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
                <p>© 2023 Company, Inc. All rights reserved.</p>
                <ul class="list-unstyled d-flex">
                    <li class="ms-3"><a class="link-body-emphasis" href="https://www.youtube.com/@SpartaCodingClub"><i
                                class="bi bi-youtube"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="https://www.instagram.com/spartacodingclub/"><i
                                class="bi bi-instagram"></i></a></li>
                    <li class="ms-3"><a class="link-body-emphasis" href="https://spartacodingclub.kr/blog"><i
                                class="bi bi-postcard"></i></a></li>
                </ul>
            </div>
        </footer>
    </div>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 검색 버튼 클릭 이벤트 처리
            document.getElementById("search").addEventListener("click", function () {
                var keyword = document.getElementById("keyword").value.trim(); // 입력된 키워드 가져오기
                fetchData(keyword); // 데이터 요청 함수 호출
            });

            // 검색 양식 제출 이벤트 처리
            document.getElementById("searchForm").addEventListener("submit", function (event) {
                event.preventDefault(); // 기본 제출 동작 방지
                var keyword = document.getElementById("keyword").value.trim(); // 입력된 키워드 가져오기
                fetchData(keyword); // 데이터 요청 함수 호출

                // URL 변경
                var url = "/sightlist_keyword/?keyword=" + encodeURIComponent(keyword);
                history.pushState({}, null, url);
                const tableBody = document.querySelector("#sightTable tbody");
                tableBody.innerHTML = ""; // 테이블 내용 초기화

            });
        });

        function fetchData(keyword) {
            fetch("/sightlist_keyword/?keyword=" + keyword) // Flask 앱의 라우팅 경로에 키워드 전달
                .then(response => response.text()) // HTML 형식으로 응답을 받음
                .then(data => {
                    displayData(data); // 데이터 표시 함수 호출
                })
                .catch(error => console.error('데이터를 불러오는 중 에러 발생:', error));
        }

        function displayData(html_table) {
            const tableBody = document.querySelector("#sightTable tbody");
            tableBody.innerHTML = html_table; // HTML을 테이블 내용으로 설정
        }






    </script>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>